@model Veam.EAM.ViewModels.CheckoutSaveVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreatePopup.cshtml";
}


    <form onsubmit="return chechoutAsset(this)">
        <div class="box box-primary">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="checkoutId" />
                <input type="hidden" asp-for="assetId" />
                <div class="row">
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for=" checkedOutDate" class="control-label"></label>
                            <DatePicker>
                                <input asp-for="checkedOutDate" value="@DateTime.Today.ToString("MMM/dd/yyyy")" class="form-control pull-right datepicker" type="text" />
                            </DatePicker>
                            <span asp-validation-for="checkedOutDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for=" approveDate" class="control-label"></label>
                            <DatePicker>
                                <input asp-for=" approveDate" class="form-control pull-right datepicker" type="text" />
                            </DatePicker>
                            <span asp-validation-for=" approveDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for=" requestedDate" class="control-label"></label>
                            <DatePicker>
                                <input asp-for=" requestedDate" class="form-control pull-right datepicker" type="text" />
                            </DatePicker>
                            <span asp-validation-for=" requestedDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class=" row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for=" requestedBy" class="control-label"></label>
                            <select asp-for=" requestedBy" class="form-control select2" asp-items="@Model.EmpList  "></select>
                            <span asp-validation-for=" requestedBy" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for=" approvedBy" class="control-label"></label>
                            <select asp-for=" approvedBy" class="form-control select2" asp-items="@Model.EmpList  "></select>
                            <span asp-validation-for=" approvedBy" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="  assetConditon" class="control-label"></label>
                            <input asp-for=" assetConditon" class="form-control" />
                            <span asp-validation-for=" assetConditon " class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="  conditionNote" class="control-label"></label>
                            <input asp-for=" conditionNote" class="form-control" />
                            <span asp-validation-for=" conditionNote" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!-- Custom Tabs (Pulled to the right) -->
                <div class="nav-tabs-custom ">
                    <ul class="nav nav-tabs pull-right ">
                        <li><a href="#toParent" data-toggle="tab">To Parent Asset</a></li>
                        <li class="active"><a class="btn btn-default" href="#toLocation" data-toggle="tab"> Tolocation</a></li>
                        <li><a href="#toEmp" data-toggle="tab">ToEmployee</a></li>
                        <li class="pull-left header"><i class="fa fa-th"></i>CheckOut To</li>
                    </ul>

                    <div class="tab-content fixed">
                        <!--To Location-->
                        <div class="tab-pane active" id="toLocation">
                            <div class="row " id="locationBox1">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for=" centerId" class="control-label"></label>
                                        <select id="centerList" onchange="loadHallByCenter()" asp-for=" centerId" class="form-control select2" asp-items="@Model.CenterList"></select>
                                        <span asp-validation-for=" centerId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for=" hallId " class="control-label"></label>
                                        <select id="hallList" asp-for=" hallId" class="form-control select2" asp-items="@Model.HallList"></select>
                                        <span asp-validation-for=" hallId" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            @*<div class=" row" id="locationBox2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for=" subsideryId" class="control-label"></label>
                                <select asp-for=" subsideryId" class="form-control select2" asp-items="@Model. subsideryList"></select>
                                <span asp-validation-for=" subsideryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for=" managerId " class="control-label"></label>
                                <select asp-for=" managerId" class="form-control select2" asp-items="@Model.EmpList  "></select>
                                <span asp-validation-for=" managerId" class="text-danger"></span>
                            </div>
                        </div>

                    </div>*@



                        </div>
                        <!--To Employee-->
                        <div class="tab-pane " id="toEmp">
                            <div class="user box row" id="userBox">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for=" subsideryId" class="control-label"></label>
                                        <select asp-for=" subsideryId" class="form-control select2" asp-items="@Model. subsideryList"></select>
                                        <span asp-validation-for=" subsideryId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for=" employeeId " class="control-label"></label>
                                        <select asp-for=" employeeId" class="form-control select2" asp-items="@Model.EmpList  "></select>
                                        <span asp-validation-for=" employeeId" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for=" departmentId " class="control-label"></label>
                                        <select asp-for=" departmentId" class="form-control select2" asp-items="@Model.deptList  "></select>
                                        <span asp-validation-for=" departmentId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--To ParentAsset-->
                        <div class="tab-pane " id="toParent">
                            <div class="asset box row" id="assetBox">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for=" parentAssetId" class="control-label"></label>
                                        <select asp-for=" parentAssetId" class="form-control" asp-items="@Model.pasrntAssetList "></select>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div> 
        <SaveReturnBtn></SaveReturnBtn>
    </form>

@section Styles{


    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />

}

@section Scripts {

    <!-- iCheck -->
    <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script>

        function loadHallByCenter( ) {

             $('#centerList').change(function () {
           var url = '@Url.Content("~/")' + "Select/GetHallbyCenterId";
             $.getJSON(url, { centerId: $("#centerList").val() }, function (data) {
            var items = '';
            $("#hallList").empty();
            $.each(data, function (i, section) {
                items += "<option value='" + section.value + "'>" + section.text + "</option>";
            });
                 $('#hallList').html(items);
                });
         });
        };

    </script>
}
