@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add Information</h4>
</div>

@*<form onsubmit="return SubmitAddEdit(this)">*@
    <div class="box-body">
        @RenderBody()
    </div>

   
@*</form>*@


@Html.Partial("_AdminlteNetcoreBasicStyles")

@RenderSection("Styles", required: false)

@Html.Partial("_AdminlteNetcoreBasicScripts")

@RenderSection("Scripts", required: false)







