@model Veam.EAM.ViewModels.AssetWarrantyVM


<table class="table table-bordered" style="width:100%">
    <tr>
        <td>
            @Html.LabelFor(model => model.warrantyBy)
        </td>
        <td>
            @Html.DisplayFor(model => model.warrantyBy)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.StartDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.StartDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.EndDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.EndDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.periodinMonths)
        </td>
        <td>
            @Html.DisplayFor(model => model.periodinMonths)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.notes)
        </td>
        <td>
            @Html.DisplayFor(model => model.notes)
        </td>
    </tr>
</table>
 

  